<div class="form-horizontal">
<div class="alert alert-danger" role="alert"><h2>Информация за мен</h2></div>
<%= form_for(@infos, url: { action: 'create' } , class: "form-horizontal") do |f| %>
	<div class="form-group">
      <label class="col-sm-2 control-label">Населено място</label>
      <div class="col-sm-10">
        <%= f.text_field :town, autocomplete: "off", class: "form-control", placeholder: "Населено място" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Име</label>
      <div class="col-sm-10">
        <%= f.text_field :first_name, autocomplete: "off", class: "form-control", placeholder: "Име" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Презиме</label>
      <div class="col-sm-10">
        <%= f.text_field :second_name, autocomplete: "off", class: "form-control", placeholder: "Презиме" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Фамилия</label>
      <div class="col-sm-10">
        <%= f.text_field :last_name, autocomplete: "off", class: "form-control", placeholder: "Фамилия" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Адрес</label>
      <div class="col-sm-10">
        <%= f.text_field :address, autocomplete: "off", class: "form-control", placeholder: "Адрес" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Телефон</label>
      <div class="col-sm-10">
        <%= f.text_field :mobile_num, autocomplete: "off", class: "form-control", placeholder: "Телефон" %>
      </div>
    </div>
     <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Запазване", class: "btn btn-default" %> 
      </div>
    </div>
<% end %>
</div>