<div class="form-horizontal">
<div class="alert alert-danger" role="alert"><h2>Сигнализиране за нередност</h2></div>
<%= form_for(@problem, url: { action: 'create' } , class: "form-horizontal") do |f| %>
	<div class="form-group">
      <label class="col-sm-2 control-label">Описание</label>
      <div class="col-sm-10">
        <%= f.text_area :description, autocomplete: "off", class: "form-control", placeholder: "Описание" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Снимка</label>
      <div class="col-sm-10">
        <%= f.text_field :picture, autocomplete: "off", class: "form-control", placeholder: "Снимка" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Северна ширина</label>
      <div class="col-sm-10">
        <%= f.text_field :lat_one, autocomplete: "off", class: "form-control", placeholder: "Северна ширина" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Източна дължина</label> 
      <div class="col-sm-10">
        <%= f.text_field :lat_two, autocomplete: "off", class: "form-control", placeholder: "Източна дължина" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Сигнализиране", class: "btn btn-default" %> 
      </div>
    </div>
<% end %>
</div>